.top-banner{
    background-color: #4fb3d4;
}

.banner-text{
    color: white;
    text-align: center;
    padding: 15px 30px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
    margin-right:20px;
}

.company-logo h2{
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
}

.nav-toggle{
    display: none;
}

.hover-link {
    color: var(--primary-text-color);
}

.hover-link:hover {
    color: var(--accent-color);
    transition: 0.2s ease-out;
}
.nav-links ul li a{
    font-size: 24px;
    margin-top: 10px;
}

.nav-links li {
    position: relative;
}

.nav-links ul ul {
    position: absolute;
    left: -1em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
}

.nav-links  ul ul li a {
    padding: 0.25em 1em;
}

.nav-links li:hover ul {
    display: block;
}
.nav-links  ul ul li.current a {
    background-color: var(--border-color);
}
.products li a:hover{
    color: var(--accent-color);
}

.header-left {
    max-width: 40vw;
    margin-top: 20px;
}
.header-section{
    justify-content: center;
    gap: 130px;
    margin-top: 20px;
}
.header-right img {
    width: 100%;
    margin-top: 20px;
   
    
}

.header-text {
    font-size: 90px;
    line-height: 1;
}

.mindsketch-tagline {
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

.get-started{
    margin-top: 20px;
}


@media screen and (max-width:991px) {
    .main-nav {
        overflow: initial;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
    }

}
/* 

 .main-nav {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
 }

 .nav-links {
     flex-basis: 723px;
 }

 .nav-links ul {
     justify-content: end;
     gap: 40px;
 }

 .company-logo h2 {
     width: 200px;
 }

 .nav-toggle {
     display: none;
 }

 .hover-link {
     color: var(--primary-text-color);
 }

 .hover-link:hover {
     color: var(--accent-color);
     transition: 0.2s ease-out;
 }
*/